include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
include requirements.txt
recursive-exclude tests *
recursive-exclude .coderwa *
recursive-exclude .JugaadBKP *
exclude fix_em_dashes.py
exclude fix_root_docs.py
exclude rename_docs.py
exclude test_select*.py
exclude JugaadBKP_3DevHax.py
exclude fix_branding.sh
